
@{
    ViewData["Title"] = "Application Administration";
}

<ul>
    <li><a asp-action="Index" asp-controller="Songs">Manage Songs</a></li>
    <li><a asp-action="Index" asp-controller="Albums">Manage Albums</a></li>
    <li><a asp-action="Index" asp-controller="Reviews">Manage Reviews</a></li>
	<li><a asp-action="Index" asp-controller="Account">Manage Users</a></li>
	<li><a asp-action="Index" asp-controller="UserRoles">Manage Roles</a></li>
</ul>